<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capacity.platform.system.mapper.SysUserMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.capacity.platform.system.entity.SysUser">
        <id column="uuid" property="uuid" />
        <result column="user_name" property="userName" />
        <result column="salt" property="salt" />u
        <result column="email" property="email" />
        <result column="gender" property="gender" />
        <result column="mobile" property="mobile" />
        <result column="account_non_expired" property="accountNonExpired" />
        <result column="account_non_locked" property="accountNonLocked" />
        <result column="credentials_non_expired" property="credentialsNonExpired" />
        <result column="enabled" property="enabled" />
        <result column="create_date" property="createDate" />
        <result column="create_user" property="createUser" />
        <result column="modify_user" property="modifyUser" />
        <result column="modify_date" property="modifyDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uuid, user_name, salt, nick_name, age, password, email, gender, mobile, account_non_expired, account_non_locked, credentials_non_expired, enabled, create_date, create_user, modify_user, modify_date
    </sql>

    <select id="findByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">

        select  * from sys_user  where uuid=#{uuid}

    </select>

</mapper>
